@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-archivo-black);
  --font-mono: var(--font-courier-prime);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-courier-prime), monospace;
}
